@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
}

.font_cursive {
  font-family: "Playwrite PE", cursive;
}

#navbar a.active {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-style: dashed;
}